* {
  box-sizing: border-box;
  transition: font-size 200ms ease-in-out;
}

:root {
  /* general variables */
  --clr-yellow: hsl(47deg 88% 63%);
  --clr-gray-950: hsl(0deg 0% 7%);
  --clr-gray-500: hsl(0deg 0% 42%);
  --clr-white: hsl(0deg 0% 100%);
  --radius-outer: 1.25rem;
  --radius-inner: calc(var(--radius-outer) / 2);
  --spc-300: 1.5rem;
  --spc-150: 0.75rem;
  --spc-100: 0.5rem;
  --spc-50: 0.25rem;
  --font-card-byline: 800 14px/1.5 "Figtree", sans-serif;

  /* screen-size variant variables */
  --font-body: 500 16px/1.5 "Figtree", sans-serif;
  --font-card-heading: 800 24px/1.5 "Figtree", sans-serif;
  --font-card-tags: 800 14px/1.5 "Figtree", sans-serif;
  --font-card-date: 500 14px/1.5 "Figtree", sans-serif;
  --card-width: 24rem;

  @media only screen and (width < 768px) {
    --font-body: 500 14px/1.5 "Figtree", sans-serif;
    --font-card-heading: 800 20px/1.5 "Figtree", sans-serif;
    --font-card-tags: 800 12px/1.5 "Figtree", sans-serif;
    --font-card-date: 500 12px/1.5 "Figtree", sans-serif;
    --card-width: 20rem;
  }
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 100dvw;
  height: 100dvh;
  background: var(--clr-yellow);
  font: var(--font-body);
  display: grid;
  grid-template-rows: var(--spc-300) auto var(--spc-300);
}

blog-card {
  grid-row: 2;
  place-self: center;
  display: flex;
  flex-direction: column;
  gap: var(--spc-300);
  background: var(--clr-white);
  width: var(--card-width);
  transition: width 200ms ease-in-out;
  padding: var(--spc-300);
  border: 1px solid var(--clr-gray-950);
  border-radius: var(--radius-outer);
  box-shadow: var(--spc-100) var(--spc-100);

  * {
    margin: 0;
    padding: 0;
  }

  & > img {
    border-radius: var(--radius-inner);
  }

  h1 {
    font: var(--font-card-heading);
  }

  p {
    color: var(--clr-gray-500);
  }

  a {
    text-decoration: none;
    color: inherit;

    &:hover,
    &:focus {
      color: var(--clr-yellow);
    }
  }
}

blog-main {
  display: flex;
  flex-direction: column;
  gap: var(--spc-150);
}

blog-tags a {
  background: var(--clr-yellow);
  font: var(--font-card-tags);
  padding: var(--spc-50) var(--spc-150);
  border-radius: var(--spc-50);

  &:hover,
  &:focus {
    background: var(--clr-gray-950);
    color: var(--clr-yellow);
  }
}

blog-date {
  font: var(--font-card-date);
}

blog-byline figure {
  font: var(--font-card-byline);
  display: grid;
  grid-template-columns: 2rem auto;
  gap: var(--spc-150);

  img {
    height: 2rem;
  }

  figcaption {
    place-self: center start;
  }
}

.attribution {
  grid-row: 3;
  place-self: end center;
  padding: var(--spc-100);
}
