* {
  box-sizing: border-box;
}

:root {
  --clr-yellow: hsl(47deg, 88%, 63%);
  --clr-gray-950: hsl(0deg, 0%, 7%);
  --clr-gray-500: hsl(0deg, 0%, 42%);
  --clr-white: hsl(0deg, 0%, 100%);
  --font-lrg: 800 24px/1.5 "Figtree", sans-serif;
  --font-med: 500 16px/1.5 "Figtree", sans-serif;
  --font-sml: 500 14px/1.5 "Figtree", sans-serif;
  --font-sml-bold: 800 14px/1.5 "Figtree", sans-serif;
  --card-width: 24rem;
  --radius-outer: 1.25rem;
  --radius-inner: calc(var(--radius-outer) / 2);
  --spc-300: 1.5rem;
  --spc-150: 0.75rem;
  --spc-100: 0.5rem;
  --spc-50: 0.25rem;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 100dvw;
  height: 100dvh;

  background: var(--clr-yellow);

  font: var(--font-med);

  display: grid;
  grid-template-rows: var(--spc-300) auto var(--spc-300);
}

blog-card {
  grid-row: 2;
  place-self: center;

  background: var(--clr-white);

  width: var(--card-width);
  padding: var(--spc-300);

  border: 1px solid var(--clr-gray-950);
  border-radius: var(--radius-outer);

  box-shadow: var(--spc-100) var(--spc-100);

  img {
    border-radius: var(--radius-inner);
  }

  h1 {
    font: var(--font-lrg);
  }
}

blog-tags,
blog-date {
  display: block;
}

blog-tag {
  background: var(--clr-yellow);
  font: var(--font-sml-bold);
}

blog-date {
  font: var(--font-sml);
}

.attribution {
  grid-row: 3;
  place-self: end center;
  padding: var(--spc-100);
}
